# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Doxygen
doc/html/*

# Executables
qtox
*.exe
build-*-Release
build-*-Profile
build-*-Debug

# Folders
_[Bb]uild*/
_obj
_test
libs

# Git
*.orig

# Go stuff (for Go OSX updater)
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.test

# OSX
.DS_Store
/qtox.app

# Qt
*.user
moc_*
ui_*
qrc_*
Makefile
*.qm
/.qmake.stash

# Rust
target/
.cargo/

# Tarballs
*.tar.*
*.vcxproj
*.filters
CMakeFiles
/CMakeCache.txt
/CTestTestfile.cmake
/qtox.VC.db
*.sln
/qtox.dir
/qtox_autogen
/qtox_static.dir
/qtox_static_autogen
/test_toxpk_autogen
/test_textformatter.dir
/test_textformatter_autogen
/test_toxid.dir
/test_toxid_autogen
/test_toxpk.dir
/null
/DartConfiguration.tcl
/Win32
/cmake_install.cmake
/qtox.VC.VC.opendb
/res.qrc.depends
/smileys/smileys.qrc.depends
/smileys/emojione.qrc.depends
/translations.qrc
/translations.qrc.in
/windows/build.bat
